body {
  margin: 0;
  overflow: hidden;
}

.AppContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center contents vertically */
  height: 100vh;
  margin: 0;
  background: linear-gradient(#0077b6, #00b4d8, #90e0ef);
}

.AppContainer.submitted {
  background: linear-gradient(#00b4d8, #90e0ef);
}

.ResultContainer {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #CED4DA;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  height: 15%;
  max-width: 600px;
  max-height: 60vh;
  overflow: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-color: black;
}